<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <img src="images/tiger_move.svg" style="width: 200px; height: 154px">
        </div>
        <div class="col-md-15">
            <h4>
                <!-- <a href="{{ site.baseurl }}{% post_url 2017-05-30-introducing-mpl %}"> <strong>MPL</strong> </a> -->
                <strong>Animate++</strong>
            </h4>
            <p>
              <strong>Animate++</strong> is a C++ library that lets you rapidly compose beautiful vector graphics animation. We built the library in a course with <a href="http://www.stroustrup.com/index.html">Bjarne Stroustrup</a>. [<a href="https://slides.com/nimowodeni/animate/#/">Slides</a>]
            </p>
        </div>
    </div>
</div>
