<div class="col-md-15">
<i class="icon icon-page" style="margin-right: 5px"></i>
<a href="http://wodenimoni.com/nimo-markdown-cv/" onclick="open(this.href).print(); return false"> Curriculum Vitae</a>
<br><br>
<i class="icon icon-social-linkedin" style="margin-right: 5px"></i>
<a href="https://www.linkedin.com/in/wode-ni/">wode-ni</a>
<br><br>
<i class="icon icon-social-github" style="margin-right: 5px"></i>
<a href="https://github.com/wodeni/">wodeni</a>
<br><br>
<i class="icon icon-mail" style="margin-right: 5px"></i> woden@cs.cmu.edu
<br><br>
<i class="icon icon-map" style="margin-right: 5px"></i>
<a href="https://goo.gl/maps/ausAGPzx4JR2"> Wean 5309</a>
</div>
