
<i class="icon icon-social-linkedin" style="margin-right: 5px"></i>
<a href="https://www.linkedin.com/in/wode-ni/">wode-ni</a>
<br><br>
<i class="icon icon-social-github" style="margin-right: 5px"></i>
<a href="https://github.com/wodeni/">wodeni</a>
<br><br>
<i class="icon icon-mail" style="margin-right: 5px"></i> wn2155 AT columbia DOT edu
</a>
<br> <br>
<i class="icon icon-page" style="margin-right: 5px"></i>
<a href="https://github.com/wodeni/nimo-resume/raw/master/nimo-cv.pdf"> Resume </a>
<br>
