<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <img src="images/queen.gif" style="width: 200px; height: 154px">
        </div>
        <div class="col-md-15">
            <h4>
                <a href="{{ site.baseurl }}{% post_url 2017-05-30-introducing-mpl %}"> <strong>MPL</strong> </a>
            </h4>
            <p>
              Matrix Processing Language (MPL) is a domain specific language that focuses on matrix computations. Using MPL, we built a simulation of Conway’s Game of Life in less than 30 lines.
            </p>
        </col>
    </div>
</div>
</div>
