<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <img src="images/chess.jpg" style="width: 200px">
        </div>
        <div class="col-md-15">
            <h4>
                <!-- <a href="{{ site.baseurl }}{% post_url 2017-05-30-introducing-mpl %}"> <strong>MPL</strong> </a> -->
                <a href="https://github.com/wodeni/raytra"> <strong>Raytra</strong></a>
            </h4>
            <p>
                For a Computer Graphics class, I implemented a ray tracing renderer from scratch. Raytra employs <strong>Monte-Carlo ray tracing</strong> and scene-wide acceleration using <strong>BVH-tree</strong>. [<a href="https://github.com/wodeni/raytra">repo</a>]
            </p>
        </div>
    </div>
</div>
