---
layout: default
---

<link href="css/grid24.css" rel="stylesheet" type="text/css">
<h1>About Me</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-14">
            <div class="row">
            <p>
            I am <strong>a forth-year Ph.D. student at <font color="#A71930">Carnegie Mellon University</font></strong>, School of Computer Science, advised by <a href="http://pact.cs.cmu.edu/koedinger.html">Ken Koedinger</a> and <a href="http://www.cs.cmu.edu/~jssunshi/">Joshua Sunshine</a>. Prior to joining CMU, I graduated from Columbia University, where I studied Computer Science.
            </p>
            </div>
            <div class="row">
            {% include contact.html %}
            <br>
            </div>
        </div>
        <div class="col-md-6">
            <img src="images/nimo.jpg" class="pull-left" height="300px">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ content }}
        </div>
    </div>
</div>
</div>

<!-- <div style="overflow=auto; clear=both; height=400px">
<div style="float: left; width: 400px">
</div>
<div style="float: right; width: 200px">
</div>
</div> -->
