---
layout: default
---

<link href="css/grid24.css" rel="stylesheet" type="text/css">
<h1>About Me</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-15">
            <p>
              I am an incoming Ph.D. student at Carnegie Mellon University, Institute for Software Research. I recently graduated from Columbia University, where I studied <strong>Computer Science</strong>.
            </p>
            {% include contact.html %}
            <br>
        </div>
        <div class="col-md-6">
            <img src="images/nimo.jpg" class="pull-left" height="300px">
        </col>
    </div>
    <div class="row">
        <div class="col">
            {{ content }}
        </div>
    </div>
</div>
</div>

<!-- <div style="overflow=auto; clear=both; height=400px">
<div style="float: left; width: 400px">
</div>
<div style="float: right; width: 200px">
</div>
</div> -->
