---
layout: default
---

<link href="css/grid24.css" rel="stylesheet" type="text/css">
<h1>About Me</h1>
<div class="container-fluid">
  <div class="row">
    <img src="images/nimo.jpg" class="pull-right" height="300px" style="margin:0px 30px">
    {{ page.sections['intro'] | markdownify }}
    {% include contact.html %}
  </div>
    {{ content }}
  </div>
</div>

<!-- <div style="overflow=auto; clear=both; height=400px">
    <div style="float: left; width: 400px">
    </div>
    <div style="float: right; width: 200px">
    </div>
</div> -->
