/* Papers */

.PaperEntry {
  margin: 16px 0;
}

.PaperTitle {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.PaperAuthors {
  font-size: 14px;
  font-weight: 300;
}

.PaperAuthors li {
  display: inline;
}

.PaperAuthors li:not(:last-child):after {
  content: ", ";
}

.PaperVenue {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.PaperAsset {
  display: flex;
  align-items: center;
  gap: 2px;
}
