/* sections */

.Section {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
  position: relative;
  cursor: pointer;
}

.SectionHeader {
  margin-left: 10px;
  width: 100%;
}

.Section:hover .LeftBar {
  opacity: 0.3;
  transform: scaleX(40);
}

.LeftBar {
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}

.text {
  font-weight: 300;
  font-size: 18px;
  margin: 0.5em 0 0.5em 0;
}

/* Papers */

.PaperEntry {
  margin: 16px 0;
}

.PaperTitle {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.PaperAuthors {
  font-size: 14px;
  font-weight: 300;
}

.PaperAuthors li {
  display: inline;
}

.PaperAuthors li:not(:last-child):after {
  content: ", ";
}

.PaperVenue {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.PaperAsset {
  display: flex;
  align-items: center;
  gap: 2px;
}

/* Projects */

.ProjectContainer {
  display: flex;
  flex-wrap: wrap;
}

.ProjectCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 40%;
  margin: 1em 1em 1em 0;
  min-width: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(500px);
}

.ProjectCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.ProjectLogo {
  background-color: rgba(0, 0, 0, 0.01);
}

.ProjectName {
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
}

.ProjectDesc {
  font-size: 18px;
  font-weight: 200;
  width: 70%;
  padding: 20px;
}
